* {
  box-sizing: border-box;
}

/* fonts */
/* colors */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* fullPage.js */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

#fp-nav ul li .fp-tooltip {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans", sans-serif;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

::selection {
  background: #fff;
  /* fallback */
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
}

a {
  color: #fff;
}

h1 {
  font-weight: 400;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #fff;
  /* fallback */
  background: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0.5;
}
.site-header a {
  color: #f57c00;
}
.site-header .header-main {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
}
.site-header .header-main:after {
  content: "";
  display: table;
  clear: both;
}
.site-header .header-main .site-title {
  margin: 0;
  float: left;
}
.site-header .header-main .site-title a {
  font-family: Bariol, sans-serif;
  color: #f57c00;
  text-decoration: none;
}
.site-header .header-main .social-icons {
  float: right;
}
.site-header .header-main .social-icons .fa {
  font-size: 40px;
}

.secondary-navigation {
  position: fixed;
  top: 50%;
  left: 0;
  width: 150px;
  margin-left: 20px;
}
.secondary-navigation .nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.secondary-navigation .menu-item {
  margin: 5px 0 5px 0;
  border-radius: 10px;
}
.secondary-navigation .menu-item a {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.secondary-navigation .menu-item:before {
  content: '';
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  padding: 4px;
  margin-right: 5px;
  vertical-align: baseline;
}
.secondary-navigation .menu-item.current-menu-item a,
.secondary-navigation .menu-item:hover a {
  color: #fff;
}
.secondary-navigation .menu-item.current-menu-item:before,
.secondary-navigation .menu-item:hover:before {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.5);
}

.section {
  padding: 0 60px;
}
.section .entry-header,
.section .entry-content {
  max-width: 800px;
  margin: 0 auto;
}

.development-icon {
  font-size: 20em;
}

.section-development {
  text-align: center;
  background-color: #f57c00;
}

.section-contact .entry-header,
.section-contact .entry-content {
  max-width: 500px;
}

.site-footer {
  text-align: center;
}

.button {
  color: #fff;
  background-color: transparent;
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 20px/50%;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  box-shadow: 0 0 1px #fff;
}
.button:hover {
  background: #fff;
  /* fallback */
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.button:active {
  color: #f57c00;
  background-color: #fff;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  background: #fff;
  /* fallback */
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-appearance: none;
  color: #fff;
  border: 1px solid #fff;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-webkit-input-placeholder {
  /* Chrome */
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus {
  outline: none;
  background: #fff;
  /* fallback */
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: none !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.gform_wrapper div.validation_error {
  display: none;
}

.gform_wrapper .field_description_below .gfield_description {
  padding-top: 5px !important;
}

/*@import "partials/logo";*/
