.section {
    padding: 0 60px;
    
    .entry-header,
    .entry-content {
        max-width: 800px;
        margin: 0 auto;
    }
}

.development-icon {
    font-size: 20em;
}

.section-development {
    text-align: center;
    background-color: red;
}