.button {
    color: $text-color;
    background-color: transparent;
    padding: 8px 20px;
    border: 1px solid $color-white;
    border-radius: 20px/50%;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    box-shadow: 0 0 1px $color-white;

    &:hover {
        @include blur($opacity: 0.2);
    }
    
    &:active {
        color: $primary-color;
        background-color: $color-white;
    }
}



.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    @include blur($opacity: 0.2);
    @include placeholder($opacity: 0.6);
    -webkit-appearance: none;

    color: $text-color;
    border: 1px solid $color-white;

    &:focus {
        outline: none;
        @include blur($opacity: 0.4);
    }
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.gform_wrapper div.validation_error {
    display: none;
}

.gform_wrapper .field_description_below .gfield_description {
    padding-top: 5px !important;
}