.site-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    
    @include blur($opacity: 1);
    opacity: 0.5;
    
    a {
        color: $primary-color;
    }

    .header-main {
        max-width: 800px;
        margin: 0 auto;
        padding: 10px 20px;
        
        @include clearfix();

        .site-title {
            margin: 0;
            float: left;

            a {
                font-family: $font-family-logo;
                color: $primary-color;
                text-decoration: none;
            }
        }
        
        .social-icons {
            float: right;
            
            .fa {
                font-size: 40px;
            }
        }
    }
}